body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: rgb(64, 115, 226);
    overflow: hidden;
}
.calc{
    width: 300px;
    padding: 10px;
    border: 1px solid #000;
    background-color: rgb(94, 90, 69);
}
button{
    cursor: pointer;
    width: 70px;
    height: 60px;
}
.calc-window{
    height: 50px;
    background-color: #fff;
    color: #000;
    margin-bottom: 5px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-radius: 1px;
    padding: 0 5px;
}
.calc-btns{
    display: flex;
    justify-content: space-between;
    height: 320px;
    /* align-items: center; */
}
.calc-numbers{
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 5px;
    width: 75%;
}
.calc-numbers>div{
    display: flex;
    justify-content: space-between;
}
.calc-symbols{
    width: 23%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.result{
    font-size: 30px;
}
